footer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #1F1A20 0%, #1D181E 100%);
}

.footer-newsletter .section-title.big-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 26px;
    font-weight: 800;
    line-height: 1em;
    margin-right: 100px;
}

.newsletter-form div {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.newsletter-form-grp {
    position: relative;
}

.footer-area-top{
    position: relative;
}



.copyrights a {
    color: #90949C;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.copyrights span{
    color: #e4a101;
}

.footer-area-bottom {
    background-color: #161417;
}

.footer-widget {
    text-align: left;
}

h2.footer-widget-title {
    color: #C8C8C8;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

ul.footer-widget-list {
    margin-top: 15px;
}

ul.footer-widget-list li {
    padding-bottom: 15px;
    border-bottom: 1px solid #353535;
    margin-bottom: 10px;
}
ul.footer-widget-list li:last-child{
    border-bottom: none;
}

ul.footer-widget-list li a{
    font-family: "Poppins", Sans-serif;
    font-weight: 400;
    color: #90949C;
}

span.social-item {
    background: orange;
    border-radius: 4px;
}

span.social-item i {
    color: #fff;
}

.footer-social {
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

span.social-item {
    background: orange;
    border-radius: 4px;
    width: 55px;
    height: 55px;
    margin-right: 5px;
    margin-bottom: 15px;
    padding: 4px 12px;
}

span.social-item a {
    font-size: 34px;
}

span.social-item svg {
    fill: #fff;
}

.row.justify-content-between.no-gutter .col-xl-2{
    width: 19.6666%!important;
}
@media screen and (max-width: 1140px) {
    .row.justify-content-between.no-gutter .col-xl-2{
        width: 30%!important;
    }

    .newsletter-wrap {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width:768px) {
	.row.justify-content-between.no-gutter .col-xl-2{
        width: 46%!important;
    }
}

@media screen and (max-width:414px) {
	.row.justify-content-between.no-gutter .col-xl-2{
        width: 96%!important;
    }

    .newsletter-form div input {
        width: 90%!important;
    }
}