footer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #1F1A20 0%, #1D181E 100%);
}

.footer-newsletter .section-title.big-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 26px;
    font-weight: 800;
    line-height: 1em;
    margin-right: 100px;
}

.newsletter-form div {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.newsletter-form-grp {
    position: relative;
}

.footer-area-top{
    position: relative;
}

.footer-newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B181E!important;
    padding: 40px 60px;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 70px;
    top: -75px;
    z-index: 9;
}

.newsletter-form-grp::before, .newsletter-form button::before {
    content: "";
    position: absolute;
    left: -19px;
    top: -1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 55px 20px;
    border-color: transparent transparent #24182d transparent;
}

.newsletter-form-grp i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    left: 15px;
}

.newsletter-form div input {
    width: 495px!important;
    background: #24182d!important;
    border: none!important;
    color: #fff!important;
    padding: 17px 40px!important;
    font-size: 14px!important;
    font-weight: 500!important;
    outline: none;
}

.newsletter-form-grp::after, .newsletter-form button::after {
    content: "";
    position: absolute;
    right: -19px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 55px 20px 0 0;
    border-color: #24182d transparent transparent transparent;
}

.newsletter-form button {
    border: none;
    color: #000!important;
    font-size: 14px;
    font-weight: 800;
    padding: 17px 15px;
    margin-left: 30px;
    position: relative;
    cursor: pointer;
    transition: .3s linear;
    background: #e4a101!important;
}

.newsletter-form div button {
    background: #e4a101!important;
}

.newsletter-form button:hover {
    background: #fff!important;
}

.newsletter-form-grp::before, .newsletter-form button::before {
    content: "";
    position: absolute;
    left: -19px;
    top: -1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 55px 20px;
    border-color: transparent transparent #24182d transparent;
}

.newsletter-form button::before {
    border-color: transparent transparent #e4a101 transparent;
    transition: .3s linear;
}

.newsletter-form button i {
    font-size: 12px;
    margin-left: 5px;
}

.newsletter-form-grp::after, .newsletter-form button::after {
    content: "";
    position: absolute;
    right: -19px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 55px 20px 0 0;
    border-color: #24182d transparent transparent transparent;
}

.newsletter-form button::after {
    border-color: #e4a101 transparent transparent transparent;
    transition: .3s linear;
}

.newsletter-form button:hover::before {
    border-color: transparent transparent #fff transparent;
}

.newsletter-form button::before {
    border-color: transparent transparent #e4a101 transparent;
    transition: .3s linear;
}

.newsletter-form button:hover::after {
    border-color: #fff transparent transparent transparent;
}

.newsletter-form button::after {
    border-color: #e4a101 transparent transparent transparent;
    transition: .3s linear;
}

.copyrights a {
    color: #90949C;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.copyrights span{
    color: #e4a101;
}

.footer-area-bottom {
    background-color: #161417;
}

.footer-widget {
    text-align: left;
}

h2.footer-widget-title {
    color: #C8C8C8;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

ul.footer-widget-list {
    margin-top: 15px;
}

ul.footer-widget-list li {
    padding-bottom: 15px;
    border-bottom: 1px solid #353535;
    margin-bottom: 10px;
}
ul.footer-widget-list li:last-child{
    border-bottom: none;
}

ul.footer-widget-list li a{
    font-family: "Poppins", Sans-serif;
    font-weight: 400;
    color: #90949C;
}

span.social-item {
    background: orange;
    border-radius: 4px;
}

span.social-item i {
    color: #fff;
}

.footer-social {
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

span.social-item {
    background: orange;
    border-radius: 4px;
    width: 55px;
    height: 55px;
    margin-right: 5px;
    margin-bottom: 15px;
    padding: 4px 12px;
}

span.social-item a {
    font-size: 34px;
}

span.social-item svg {
    fill: #fff;
}

.row.justify-content-between.no-gutter .col-xl-2{
    width: 19.6666%!important;
}

@media screen and (max-width:768px) {
	.row.justify-content-between.no-gutter .col-xl-2{
        width: 46%!important;
    }
}

@media screen and (max-width:414px) {
	.row.justify-content-between.no-gutter .col-xl-2{
        width: 96%!important;
    }
}