.live-match-area{
    background-image: url(../images/home_four_area_bg.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-four-title h2 {
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 0;
    font-weight: 800;
    margin-bottom: 0;
    line-height: 1;
}

.home-four-title h2::after {
    content: "";
    display: block;
    background-image: url(../images/title_bar04.png);
    width: 126px;
    height: 13px;
    margin: 17px auto 0;
}

.live-match-wrap {
    position: relative;
    top: 60px;
}

.live-match-wrap>img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 12.09px .91px rgba(1,31,87,.19);
}
.live-match-wrap .popup-video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}