.mint_nft{
	display: flex;
	justify-content: center;
    padding: 40px 0 0 0;
}
.mint_nft li{
    margin-right: 15px;
}
.mint_nft li img{
    width: 70%;
}
.mission_gif img{
	border-radius: 5%;
}
.c_price{
	font-size: 24px;
    text-transform: capitalize;
    color: #ffa500;
}
.c_rate{
	color: #e0e0e0;
    font-size: 18px;
}
.mint_title:after{
	display:none!important;
}
.c_buy_d p span {
    color: #ffa500;
	font-weight: bolder;
}

