.timeline-area{
    background-color: transparent;
    background-image: linear-gradient(180deg, #241F2B 0%, #1C1920 100%);
}

.timeline-area .section-title.sm-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.timeline-area .section-title.big-title {
    color: #FFFFFF;
    font-family: "Oxanium", Sans-serif;
    font-size: 45px;
    font-weight: 800;
}

.timeline-area .timeline-heading-contents {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    padding: 0 200px;
}

.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #fff;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 50px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 50px);
}
.timeline-count {
    height: 40px;
    width: 40px;
    background-color: orange;
    position: absolute;
    left: calc(50% - 20px);
    border-radius: 50%;
    top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #fff;
}
.timeline-content{
    
}
.timeline-content .title {
    font-size: 18px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 600;
}
.timeline-content .list {
    list-style: none;
}
.timeline-content .list li {
	color: orange;
	font-size: 14px;
	font-weight: 600;
}
.timeline-content .list li + li {
	margin-top: 7px;
}
.timeline-item:last-child .timeline-count {
	top: auto;
	bottom: 0;
}

/* responsive */
@media(max-width: 575.98px){
	.timeline-items::before {
		left: 20px;
	}
	.timeline-item:nth-child(odd) {
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even) {
		padding-left: 65px;
	}
	.timeline-count {
		left:0;
	}
}